{% extends 'core/base.html' %}
{% block title %}{{ client.name }}{% endblock %}
{% block content %}
  <h1 class='mb-4'>{{ client.name }}</h1>
  <h4 class='mb-2'>Description</h4>
  <p>{{ client.description }}</p>
<h4 class='mb-2'>Created at</h4>
  <p>{{ client.created_at }}</p>
  <h4 class=' mb-2 font-weight-bold'>Modified at</h4>
  <p class ='mb-5'>{{ client.modified_at }}</p>
<btn class='btn btn-success'>
    <a href="{% url 'clients_edit' client.id %}" style='color:white; text-decoration: none;'>Edit</a>
</btn>
<btn class='btn btn-danger'>
    <a href="{% url 'clients_delete' client.id %}"  style='color:white; text-decoration: none;'>Delete</a>
</btn>
  <btn class="btn btn-primary">
    <a href='/client/client-list' style='color:white; text-decoration: none;'>Back to list</a>
</btn>
{% endblock %}